@import "tailwindcss";

.app-background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  opacity: 0.25;
  transition: background-image 0.5s ease-in-out;
}
